<h1><%= @customer.name %></h1>

<h2>Items</h2>
<ul> 
  <% @customer.items.each do |item| %>
    <li>
      <p>Item: <%= item.name %></p>
      <p>Price: <%= "$#{item.price}" %></p>
      Supermarket: <%= item.supermarket.name %>
    </li>
  <% end %>
</ul>

<%= form_with url: "/customers/#{@customer.id}", method: :post, data: {turbo: false} do |form| %>
  <div class="field">
    <%= form.label :item_id, "Item ID Number:" %>
    <%= form.text_field :item_id %>
  </div>
  <div class="actions">
    <%= form.submit "Add Item" %>
  </div>
<% end %>