<h1><%= @customer.name %>

<h2>Customer's Items</h2>
<% @customer.items.each do |item| %>
  <ul>
    <li>Item name: <%= item.name %>
    <li>Item price: <%= item.price %>
    <li>SuperMarket: <%= item.supermarket.name %>
  </ul>
<% end  %>

<h2>Add item to customer</h2>

<%= form_with url: "/customers/#{@customer.id}/items", method: :post, data: {turbo: false} do |f| %>
  <%= f.label :item_id, "Item ID" %>
  <%= f.number_field :item_id %>
  <%= f.submit "Add item" %>
<% end %>