<p>Name: <%=@customer.name%> </p>

<ul class="items-list">
  <% @customer.items.each do |item| %>
    <p> Item Name: <%= item.name%> </p>
    <p> Item Price: <%= item.price%> </p>
    <p> Item Store: <%= item.supermarket.name%> </p>
  <% end%>
</ul>

<%= form_with url: "/customers/#{@customer.id}/items" do |f| %>
  <%= f.label "Item_id" %>
  <%= f.text_field :item_id %>
  <%= f.submit "Submit" %>
<% end %>