<h2>Customer Data for: <%= @customer.name %></h2>

<h3><strong>Purchased Items</strong></h3>
<% @customer.items.each do |item| %>
  <li>Name: <%= item.name %></li>
  <li>Price: <%= item.price %></li>
  <li>Supermarket: <%= item.supermarket.name %></li>
  <hr>
  <% end %>

<%= form_with url: "/customers/#{@customer.id}/items", method: :post, data: { turbo: false } do |form| %>
  <%= form.label "Item ID" %>
  <%= form.text_field :item_id %>
  <%= form.submit "Add Item" %>
<% end %>